html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(248, 248, 248);
    min-height: 100%;
}

html,
body,
.footer,
.header {
    min-width: 320px;
}



h1 {
    text-align: center;
}

.container {
    max-width: 770px;
    margin: 0 auto;
    padding: 0 20px;
}

/*HEADER*/
.header {
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 10;
    background: none; /* Удаление заднего фона */
    border: none; /* Удаление границы, если применимо */
    outline: none; /* Удаление выделения при фокусе */
}

.header__inner {
    background: rgb(248, 248, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 770px;
}

.header__logo {
    width: 40px;
    height: 40px;
    padding: 0 10px;
}

.header__search {
    background: url(/img/search/Search.png) no-repeat scroll 7px 7px;
    font-size: 14px;
    background-color: white;
    padding-left: 40px;
    border-radius: 24px;
    border: none;
    height: 36px;
    flex: 1;
}

.header__notification {
    width: 48px;
    height: 48px;
}

/*SLIDER*/
.promo {
    margin: 1rem 0;
}

.slider__title {
    display: flex;
    margin: 0px 16px 12px 16px;
    font-size: 15px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    font-style: Montserrat;
}

.slide {
    position: relative;
    padding: 10px;
    ;
}

.slide img {
    border-radius: 12px;
    width: 170px;
    height: 90px;
    object-fit: cover;
}

.slide__content {
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: white;
}

.slide__content-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}

.slide__content-desc {
    font-size: 14px;
    line-height: 16px;
    font-weight: lighter;
    text-align: left;
}

h1,
p {
    margin: 0;
}


/*MAIN_BLOCK*/
main {
    margin-top: 56px;
    margin-bottom: 56px;
    padding: 10px 0px 10px 0px;
}

.main__block {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 25px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(156, 214, 235, 0.16), rgba(4, 182, 245, 0.16)),
        linear-gradient(0deg, rgba(4, 182, 245, 0.08), rgba(4, 182, 245, 0.08));
    border: 2px solid #04B6F529;
}

.main__frame {
    max-width: 345px;
    ;
    border-radius: 8px;
    margin-bottom: 1em;
}

.main__title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.main__desc {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 7%;
    margin-top: 0;
}

.main__button {
    padding: 18px 24px 18px 24px;
    border-radius: 24px;
    border: none;
    gap: 10px;
    background: #04B6F5;
}

.main__button-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

/*SERVICES*/

.service__title {
    margin-top: 36px;
    display: flex;
    font-size: 18px;
    font-weight: 750;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    font-style: Montserrat;
}

.services__list {
    font-family: Montserrat;
}

.service__item {
    padding: 16px;
    background: white;
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    margin-bottom: 12px;
}

.service__item img {
    width: 48px;
    height: 48;
}

/*NEWS*/
.news__block {
    margin-top: 35px;
}

.news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__title {
    display: flex;
    font-size: 18px;
    font-weight: 750;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    font-family: Montserrat;
}

.news__read__all {
    font-family: Montserrat;
    color: #04B6F5;
    font-size: 14px;
    font-weight: 750;
    margin-right: 16px;
}

.news__parent {
    border-radius: 16px;
    font-family: Montserrat;
    padding: 16px;
    background: white;
    margin-bottom: 15px;
}

.news__item-title {
    margin: 3px 0px 5px 0px;
    font-size: 16px;
}

.news__item-text {
    font-size: 13.7px;
    margin-bottom: 5px;
    line-height: 16px;
}

.news__img {
    margin-right: 10px;
}

.news__parent .news__item {
    display: flex;
    flex-direction: column;
}

/*FOOTER*/
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    user-select: none;
    font-size: 10px;
}

.footer__nav {
    margin: 0 auto;
    max-width: 770px;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 56px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__item {
    text-align: center;
    padding: 5px;
    margin: 0;
    position: relative;
}

.footer__item-counter {
    color: #FFF;
    font-size: 10px;
    background: #FF3B30;
    width: 14px;
    height: 14px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    top: 6px;
    right: 0;
    line-height: 14px;
    vertical-align: middle;
}

/*MEDIA*/
@media (min-width: 480px) {
    .container {
        padding: 0 20px;
    }

    .search {
        max-width: 770px;
        margin: 0 auto;
        padding: 0 50px;
    }

    .services__list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .service__item {
        margin-bottom: 0;
    }

    .news__parent {
        display: flex;
        align-items: flex-start;
    }

    .footer__item {
        font-size: 12px;
    }
}
/*SEARCH STYLE*/
.search {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 50px;
}

.autocomplete-list {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    z-index: 999;
    list-style: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;;
}

.autocomplete-list li {
    padding: 8px 16px;
}

.autocomplete-list li:hover {
    background-color: rgb(211, 211, 211);
    border-radius: 20px;
}